                    
 <head>                      
  <title>Page Title</title>               
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
 </head>                 
                                                                         

 <div class="container-sm-flude" id="a">
     
 <h1 align="center" ><strong>SUPER MARKET</strong></h1>
 </div>

<div style="background-color: rgb(86, 194, 194);">
   <div class="row">
        <div class="col-md-1">
               <input type="button"value="Home" routerLink="/home">
        </div>
        <div class="col-md-1">
           <input type="button"value="Fruits"routerLink="/fruits">
        </div>
        <div class="col-md-1">
            <input type="button"value="Vegatables"routerLink="/vegatables">
        </div>
  
      <div class=" col-xl-9">
                <i class="fa fa-shopping-cart" style="font-size:30px;color:red;float:right" routerLink="/cart"></i>

      </div>
   </div>
</div>


   <div class="container-sm-flude">
         <div class="img">
                  <img src="../../assets/images/bgmango.webp" width="100%" height="300" routerLink="/fruits">
                  <div class="para">“Don't sit at home and wait for mango tree to bring mangoes to you wherever you are.</div>
          </div>
   </div>

   
   <div class=" img container-sm-flude">
      <div class="img2">
        <img src="../../assets/images/bgtamato.webp" width="100%" height="300" routerLink="/vegatables">
      <div class="right">Many of the things the slow food people honor were innovations within historical times.<br> Somebody had to be the first European to eat a tomato.</div>
      </div>
   </div>

   <div class=" img container-sm-flude">
      <div class="img2">
        <img src="../../assets/images/bgorange.jpg" width="100%" height="300" routerLink="/fruits" >
      <div class="middle">Oranges are also a wonderful source of fiber, vitamin B, vitamin A, calcium, and potassium, all things your body needs!</div>
      </div>
   </div>

  


 
 





