<!DOCTYPE html>           
<html>                      
 <head>                      
  <title>Page Title</title>               
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
 </head>                 
 <body>                                                                           
<div class="jumbotron"id="a">
 <div class="container-sm-flude">
     
 <h1 align="center" ><strong>SUPER MARKET</strong></h1>
 
 </div>
</div>
<div style="background-color: rgb(86, 194, 194);">
  <div class="row">
       <div class="col-md-1">
              <input type="button"value="Home" routerLink="/home">
       </div>
       <div class="col-md-1">
          <input type="button"value="Fruits"routerLink="/fruits">
       </div>
       <div class="col-md-1">
           <input type="button"value="Vegatables"routerLink="/vegatables">
       </div>
 
     <div class=" search col-md-8">
               <input type="text" style="float:right;"class="textfil"[(ngModel)]="cartdata" placeholder="Search items">
     </div>
     <div class="  col-xl-1">
               <i class="fa fa-shopping-cart" style="font-size:30px;color:red" routerLink="/cart"></i>
             
     </div>
  </div>
</div>
<div class="container mt-3">
   <h2>YOUR CART</h2>           
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Sno</th>
         <th>Product</th>
         <th>Price</th>
      
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let i of cartval1 |filter:cartdata">
         <td>{{i.id}}</td>
         <td>{{i.Name}}</td>
         <td>{{i.rate}}</td>
         <td><input  style="background-color:rgb(252, 107, 107)" type="button" (click)="remove(i.id)"value="delete"></td>
         
       </tr>
     </tbody>
     <tfoot>
       <tr>
         <th>Total</th> 
        <td>&nbsp;</td>
        <td><strong>{{total}}</strong></td>
       </tr>
     </tfoot>
   </table>
 </div>
 <div class='row'>
  <button type="button" class="btn btn-success"routerLink="/placeorder">Place Your Order</button>
 </div>

 



